.board {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw 15vw;
    border: 1px solid black;
    justify-content: center;
    gap: 0;
}

.cell {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}